<h1>Задачи</h1>
<a id="add_todo" href="#"><%= image_tag "addTodoIcon.png" %></a>
<% @projects.each do |project| %>
	<h2><%= project.title %></h2>
	<ul>
		<% project.todos.each do |todo| %>
			<li><%= todo.text %></li>
		<%end%>
	</ul>
<%end%>

<div id="todo_form">
	<h1>Новая Задача</h1>
	<%= form_for @todo do |f| %>
	  <%= f.text_field(:text, :placeholder => "Название задачи...") %><br/>
	  <%= f.select( :project_id, options_from_collection_for_select(@projects, "id", "title"), prompt: "Choose something") %>
	  <table>
	  	<td><a href="">Отмена</a></td>
	  	<td><a id="submit_todo" href="">ОК</a></td>
	  </table>
	<% end %>
</div>